<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- seo -->
<!--<meta name="description" content="">-->
<meta name="robots" content="noindex,nofollow">
<title>電源とアプリケーション - basic Operation - Web-Textbook</title>

<!-- stylesheet  -->
<link rel="stylesheet" href="_css/_common/bootstrap.css">
<link rel="stylesheet" href="_css/_common/font-awesome.min.css">
<link rel="stylesheet" href="_css/_common/style.css">

<!-- Favicons -->
<link rel="apple-touch-icon" href="/apple-touch-icon.png" sizes="180x180">
<link rel="icon" href="/favicon-32x32.png" sizes="32x32" type="image/png">
<link rel="icon" href="/favicon-16x16.png" sizes="16x16" type="image/png">
<link rel="icon" href="/favicon.ico">

<!-- common js  -->
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="_js/_common/jquery-3.2.1.min.js"></script>
<script src="_js/_common/bootstrap.min.js"></script>
<script src="_js/_common/pagescroll.jQuery.js"></script>
</head>

<body style="height: auto;">
<div id="w-wrapper" class="w-wrapper">
<header id="w-pageHeader" class="navbar navbar-dark navbar-expand-lg fixed-top w-pageHeader" data-scroll-header="true">
<div class="container">
<a class="navbar-brand" href="/">logo</a><span class="navbar-brand">Web Textbook</span>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#w-nav" aria-controls="w-nav" aria-expanded="false" aria-label="ナビゲーション切替">
<span class="navbar-toggler-icon"></span>
</button>
<nav id="w-nav" class="collapse navbar-collapse">
<ul class="navbar-nav mr-auto pl-3">
<li class="nav-item"><a href="#" class="nav-link disabled">HTML</a></li>
<li class="nav-item"><a href="#" class="nav-link disabled">CSS</a></li>
<li class="nav-item"><a href="#" class="nav-link">javasceipt</a></li>
</ul>
</nav>
<!-- /w-nav-->
</div>
<!-- /container-->
</header>
<!-- /w-pageHeader-->
<div class="d-lg-flex flex-row-reverse pt-5">
<main id="w-main" class="w-main col-lg-10">
<div class="container mb-5">
<article id="w-article">
        <h1> 電源とアプリケーション - コンピューターの基本操作</h1>
        <p><span>category:</span> <span class="badge badge-primary">コンピューターの基本操作</span></p>
        <hr>
<!-- 序章 モジュール -->
<div class="card mb-4">
<div class="card-body">
<p  class="card-text">PCの電源を入れる切る及び アプリケーションの開閉の方法を開設します。当たり前な内容ですが確認も含めてもう一度見直しましょう</p>
<div class="alert alert-info">
<p class="mb-0"><small >※文字ばかりでもうしわけありません。実際のPCを触りながら確認していきます。</small></p>
<p class="mb-0"><small>※パーソナルコンピュータ全般をOSを問わず「PC」とここでは書いています。</small></p><p class="mb-0"><small>※OSXはApple社のOSです。windows10はマイクロソフト社のOSです。</small></p>
</div>
</div>
</div>
<!-- 目次 モジュール -->
<div class="bg-light p-3 mb-4">
<h2>目次</h2>
<ul>
    <li><a href="#s1" data-scroll>電源の位置</a></li>
    <li><a href="#s2" data-scroll>電源のONからログインまで</a></li>
    <li><a href="#s3" data-scroll>アプリケーションの立ち上げ</a></li>
    <li><a href="#s4" data-scroll>アプリケーションの終了</a></li>
    <li><a href="#s5" data-scroll>コンピューターの終了 電源を切る</a></li>
</ul>
</div>
<!-- / 目次 モジュール -->
<!-- 本文のセクション モジュール -->
    <div id="s1" class="mt-n6 pt-6 mb-6 clearfix">
    <h2>電源の位置</h2>
    <p><i class="fa fa-power-off" aria-hidden="true"></i>　一般的な電源スイッチの記号</p>
<p>PCの電源がきれているかどうかは　モニターとわかれたデスクトップの場合PC本体の電源ダイオード（ランプ）を目視で確認してください。iMacタイプのPCは画面の左下の裏面にあります。</p>

<div class="card float-lg-right col-lg-5 px-0 ml-3">
        <div class="card-header">
                "Mac デスクトップ iMacの背面にある電源の位置
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
                <div><img src="_images/_BO/imac-power-button-callout.jpg" alt="iMacの背面にある電源のいち" class="img-fluid"></div>
            <footer class="blockquote-footer"><cite title="Mac の電源を入れる／切る方法"><cite><a href="https://support.apple.com/ja-jp/HT201150#turnon" target="_blank">Mac の電源を入れる／切る方法 </a></cite></footer>
          </blockquote>
        </div>
      </div>
<ul>
    <li><a href="https://support.apple.com/ja-jp/HT201150#turnon" target="_blank">Mac の電源を入れる／切る方法 </a></li>
    <li><a href="https://ameblo.jp/sumitak1329/entry-11270382958.html" target="_blank">パソコンの電源の入れ方って？ | パソコンが好きになるブログ〜表技・裏技・便利技伝授！</a></li>
</ul>
<h3>スリープ状態に気をつけて</h3>
<p>作業から離れて30分ほど経過するとPCはスリープ状態（省電力モード）になります。キーボードやマウスのいずれかのキーを押下することでモニタ-が点灯しスリープ状態から回復します。</p>
</div>
<div id="s2"  class="mt-n6 pt-6 mb-6">
    <h2>電源のONからログインまで</h2>
    <p>アカウントを選んでパスワードを入力し自分のパーソナルモード（デスクトップ）での作業になります。 PCはマルチユーザーでの操作を前提につくられていますのでパーソナルといえどパスワードでユーザーの切り替えができ家族で1台のパソコンがつかえたりします。</p>
 <ol class="card justify-content-around">
  <li class="">電源を入れる</li>
  <li class="">アプリケーション使う</li>
  <li class="">アプリケーションを切る</li>
  <li class="">電源を切る</li>
 </ol>
    <div class="alert alert-warning">
    <p><strong>学校ではパスワードをいれません</strong></p>
<p>学校ではオープンのユーザーアカウント（生徒用）で操作します。　パスワードも必要ありません。 だれでも入れるPCですので個人情報など知られたくない情報や大切な情報の管理は<strong>自己責任</strong>でおねがいします。 万が一あなたの大切なデータが破損 盗作盗難にあっても私共は責任をおいません。 大切なデータはデスクトップやドキュメントフォルダに保存したままにせず<strong>毎回確実に破棄して</strong>帰宅してください。 googleChremeなどのパーソナルアカウントやSNSのパスワードなどセッションの保持にも気を付けてください。</p></div>
<div>
<h3>ネットワークとつながっているか？</h3>
<p>画面上にあるメニューバーの右側にあるWi-fiマークを確認し　びっくりマーク「！」や扇マークになっていなければ接続されています。ただしネットワークの種類によってはパスワードを入力しなければなりません。学校の場合は設定済みです。</p>
</div>
<div>
    <h3>アプリケーションとは</h3>
    <p>オペレーションシステムの元で動くソフトウエアです。</p>
    <p>アプリと略して呼ばれます</p>
<div class=" table-responsive-sm">
<table class="table table-striped table-b table-bordered">
<caption>コンピュータが機能するまでのパーツと役割の表</caption>
<thead>

<tr>
                <th scope="col">パーツ</th>
                <th scope="col">総称</th>
                <th scope="col">役割</th>
    </tr>
</thead>
<tbody>
    <tr>
            <th scope="row">操作する人</th>
            <td>-</td>
            <td>情報を入力しその計算結果を確認する。</td>
    </tr>
    <tr>
            <th scope="row">PC/コンピューター</th>
            <td>ハードウェア</td>
            <td>物理的な操作する装置や計算する装置結果を表示する装置</td>
    
    </tr>
    <tr>
            <th scope="row">OS/オペレーションシステム</th>
            <td scope="row">ソフトウェア</td>
            <td>入力出力計算記録を制御する基本プログラム</td>
    </tr>
    <tr>
            <th scope="row">アプリケーション</th>
            <td>ソフトウェア</td>
            <td>オペレーションソフトから目的に合ったデータの入力と処理をして結果を人に伝える。</td>
    </tr>
</tbody>
</table>
</div>
<p>
ハードウエアであるPCの装置制御や入力出力の基礎制御をするソフトウエア（運用システム）がオペレーションシステムです。
オペレーションシステムを使ってオペレーションシステムの機能では表現できない多岐多種にわたる役割を提供するのがアプリケーションです。</p>
<p>人はPC、OS、アプリケーションどれがかけてもコンピュータを扱えません。</p>
<p>実際のOSは人が操作できるようにいくつかのアプリケーションプログラムを携えて販売されています。</p>
</div>

<div class="alert alert-warning">
    <h3>自己判断でのアプリケーションの追加の禁止</h3>
    <p>必要なアプリケーションは入っているはずです。<br>しかし入ってない場合や不具合がある場合は講師もしくはアシスタントにお声がけください。<br> みなさんの任意の判断でのアプリケーションのダウンロードとインストールは禁止です。不具合やPCの劣化を防ぐためご了承ください。</p>
</div>
</div>
<div id="s3"  class="mt-n6 pt-6 mb-4 mb-6">
    <h2>アプリケーションの立ち上げ</h2>
    <p>いくつかの方法でアプリケーションをアクティブ（使える状態）にできます。</p>
    <ul>
        <li>マウスでアイコンをダブルクリック</li>
        <li>ファインダーからアプリケーション アプリケーションの選択から起動</li>
        <li>任意のファイルアイコンをダブルクリック（OSで設定されたアプリケーションが開く）</li>
        <li>任意のファイルアイコンを右クリックしてコンテキストメニューをひらき　アプリケーションから開く。</li>
        <li>ファイルをアプリケーションアイコンにドラッグしてアプリケーションを開く</li>
    </ul>
    <p>以上の5つの方法があります。状況に応じてつかいわけてください。</p>
<h3>任意のアプリケーションを立ち上げてみる</h3>
<h4>テキストを編集するアプリケーション</h4>
<p>テキストエディタをアクティブにする。　テキストエディターはプレーンテキストと呼ばれる文字情報だけを記述保存編集するアプリケーションです。</p>
<h4>。webサイトを見るアプリケーション</h4>
<p>webブラウザをアクティブにする。webブラウザ（以下ブラウザ）はインターネットを使ってサーバーにあるデータを閲覧するアプリケーションです</p>

</div>
<div id="s4"  class="mt-n6 pt-6 mb-4 mb-6">
    <h2>アプリケーションの終了</h2>
    <p>OSXはウインドウの左上の赤いボタンはアプリケーションの一時隠すだけです。アプリケーションを終了するには下記方法で終了してください。</p>
    <ul>
        <li>メニューバーから「ファイル」メニュー -&gt;「アプリケーションの終了」　一番下のメニュー項目に設定されていることが多いです。</li>
        <li><kbd>command</kbd> + <kbd>Q</kbd></li>
    </ul>
        <h3>アプリケーションの強制終了</h3>
        <p>アプリケーションがフリーズしいくら待っても次の処理に移行しないとき。<kbd>command</kbd> + <kbd>Alt</kbd>+<kbd>esc</kbd>で該当のアプリケーションを終了することができます。</p>
        <div class="card ">
        <blockquote class="card-body mb-0">
        <a href="https://support.apple.com/ja-jp/HT201276" target="_blank">
            Mac で App を強制的に終了する方法</a></blockquote>
        
        </div>
    
</div>

<div id="s5"  class="mt-n6 pt-6 mb-4 mb-6">
<h2>コンピューターの終了 電源を切る</h2>
        <p>OSXの場合　メニューバーのアップルマークから「システムの終了」を選択してください。</p>
        <p>スリープ状態は電源がきれていないので不在時の故障の原因になります。帰宅時には必ず電源を切って帰宅してください。</p>
<blockquote>
        <h4>Mac の電源を切る (システム終了する)</h4>
        <p>Mac の電源を切る場合は、Apple () メニューから「システム終了」を選択する方法が一番確実です。</p>
        
        <p>Mac の電源が入った後に起動プロセスが始まるのと同じように、電源が切れる前にシステム終了のプロセスが進められます。開いている App がすべて自動的に閉じ、macOS ユーザアカウントからログアウトされます。 </p>
        
        <p>Mac がシステム終了しない場合は、反応しない App を強制終了してみてください。それでもシステム終了しない場合は、電源が切れるまで、電源ボタンを押し続けてください。</p>
        <cite><a href="https://support.apple.com/ja-jp/HT201150#turnon" target="_blank">Mac の電源を入れる／切る方法 </a></cite>
    </blockquote>

</div>
</article>


</div>
<!-- /container-->

<aside class="print-none" id="w-aside2">
<div class="row text-white no-gutters justify-content-center">
<nav aria-label="Page navigation ">
<ul class="pagination justify-content-center">
<li class="page-item disabled">
<a class="page-link disabled" href="#" tabindex="-1">Previous</a>
</li>
<li class="page-item">
<a class="page-link" href="01_basic_operation.html">Next</a>
</li>
</ul>
</nav>
</div>

<div class="container bg-dark p-3">


</div>
</aside>

</main>
<!--w-main-->
<aside class="w-aside col-lg-2 print-none" id="w-aside1">
<div class="w-aside-inner container">
<div class="w-subnav">
<h3 class="sticky-top">Basic Operation</h3>
<!-- BOlist modile -->
<ul id="w-BOlist" class="list-unstyled">
        <li class="" v-for="title in titles"><a class="" v-bind:href="title.url" v-bind:title="title.titleen">{{title.titlename}} </a></li>
        </ul>
        <!-- /BOlist modile -->
</div>
<div class="w-subnav">
<h3 class="sticky-top">web Outline</h3>
<!-- OLlist modile -->
<ul id="w-OLlist" class="list-unstyled">
        <li class="" v-for="title in titles"><a class="" v-bind:href="title.url" v-bind:title="title.titleen">{{title.titlename}} </a></li>
</ul>
<!-- /OLlist modile -->
</div>
</div>
<script src="_js/_common/VueBOnavlist.js"></script>
</aside>

<!-- /w-aside2-->
</div>
<footer id="w-pageFooter">
<div class="container">
<small>&copy; shounosuke tarutani</small>
</div>
<!-- /container-->
</footer>
<!--w-pageFooter-->
</div>
<!--w-container-->
</body>
</html>
