<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- seo -->
<!--<meta name="description" content="">-->
<meta name="robots" content="noindex,nofollow">
<title>メディア研究 - web outline - Web-Textbook</title>

<!-- stylesheet  -->
<link rel="stylesheet" href="_css/_common/bootstrap.css">
<link rel="stylesheet" href="_css/_common/font-awesome.min.css">
<link rel="stylesheet" href="_css/_common/style.css">

<!-- Favicons -->
<link rel="apple-touch-icon" href="/apple-touch-icon.png" sizes="180x180">
<link rel="icon" href="/favicon-32x32.png" sizes="32x32" type="image/png">
<link rel="icon" href="/favicon-16x16.png" sizes="16x16" type="image/png">
<link rel="icon" href="/favicon.ico">

<!-- common js  -->
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="_js/_common/jquery-3.2.1.min.js"></script>
<script src="_js/_common/bootstrap.min.js"></script>
<script src="_js/_common/pagescroll.jQuery.js"></script>
</head>

<body style="height: auto;">
<div id="w-wrapper" class="w-wrapper">
<header id="w-pageHeader" class="navbar navbar-dark navbar-expand-lg fixed-top w-pageHeader" data-scroll-header="true">
<div class="container">
<a class="navbar-brand" href="/">logo</a><span class="navbar-brand">Web Textbook</span>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#w-nav" aria-controls="w-nav" aria-expanded="false" aria-label="ナビゲーション切替">
<span class="navbar-toggler-icon"></span>
</button>
<nav id="w-nav" class="collapse navbar-collapse">
<ul class="navbar-nav mr-auto pl-3">
<li class="nav-item"><a href="#" class="nav-link disabled">HTML</a></li>
<li class="nav-item"><a href="#" class="nav-link disabled">CSS</a></li>
<li class="nav-item"><a href="#" class="nav-link">javasceipt</a></li>
</ul>
</nav>
<!-- /w-nav-->
</div>
<!-- /container-->
</header>
<!-- /w-pageHeader-->
<div class="d-lg-flex flex-row-reverse pt-5">
<main id="w-main" class="w-main col-lg-10">
<div class="container mb-5">
<article id="w-article">
        <h1> メディア研究 - web総合概論</h1>
        <p><span>category:</span> <span class="badge badge-primary">web概論</span></p>
        <hr>
<!-- 序章 モジュール -->
<div class="card mb-4">
<div class="card-body">
<p  class="card-text">各メディアの特徴とWebの関係、メディアの役割とその効果はなんでしょうか？</p>
<p>メディアというキーワードを使って webの役割と期待される事を考えてみましょう。</p>
<div class="alert alert-info">
<p class="mb-0"><small >※調べる 書く 発表する</small></p>
</div>
</div>
</div>
<!-- 目次 モジュール -->
<div class="bg-light p-3 mb-4">
<h2>目次</h2>
<ul>
    <li><a href="#s1" data-scroll>メディア</a></li>
</ul>
</div>
<!-- / 目次 モジュール -->
<!-- 本文のセクション モジュール -->
<div id="s1" class="mt-n6 pt-6 mb-6 clearfix">
<h2>メディア</h2>
<dl>
    <dt>メディア</dt>
    <dd><p>手段　媒体</p>
        <p>情報を発信する道具のこと。
        文字　音声　画像　点字　などで人間の感覺器官に刺激を与え情報を伝達と記録するための中間に位置する道具全般</p>
    </dd>
</dl>

<div class=" card">
        <h3 class="card-header">メディアを列挙してみよう。</h3>
        <div class="card-body text-center">
                <p class="text-left">自分でよく使うメディアやそうじゃないかな？と思うものをメモや黒板に書き出してみよう。</p>
<textarea cols="46" rows="12" class="col-lg-10 mx-auto"></textarea>
</div>
</div>
</div>
</article>


</div>
<!-- /container-->

<aside class="print-none" id="w-aside2">
<!-- ページナビゲーション -->
<div class="row text-white no-gutters justify-content-center">
<nav aria-label="Page navigation ">
<ul class="pagination justify-content-center">
<li class="page-item disabled">
<a class="page-link disabled" href="#" tabindex="-1" aria-disabled="true">Previous</a>
</li>
<li class="page-item">
<a class="page-link" href="11_outline_media.html">Next</a>
</li>
</ul>
</nav>
</div>
<!-- ページナビゲーション -->
<div class="container bg-dark p-3">


</div>
</aside>

</main>
<!--w-main-->
<aside class="w-aside col-lg-2 print-none" id="w-aside1">
<div class="w-aside-inner container">
<div class="w-subnav">
<h3 class="sticky-top">Basic Operation</h3>
<!-- BOlist modile -->
<ul id="w-BOlist" class="list-unstyled">
        <li class="" v-for="title in titles"><a class="" v-bind:href="title.url" v-bind:title="title.titleen">{{title.titlename}} </a></li>
</ul>
<!-- /BOlist modile -->
</div>
<div class="w-subnav">
<h3 class="sticky-top">web Outline</h3>
<!-- OLlist modile -->
<ul id="w-OLlist" class="list-unstyled">
        <li class="" v-for="title in titles"><a class="" v-bind:href="title.url" v-bind:title="title.titleen">{{title.titlename}} </a></li>
</ul>
<!-- /OLlist modile -->
</div>
</div>
<script src="_js/_common/VueBOnavlist.js"></script>
</aside>

<!-- /w-aside2-->
</div>
<footer id="w-pageFooter">
<div class="container">
<small>&copy; shounosuke tarutani</small>
</div>
<!-- /container-->
</footer>
<!--w-pageFooter-->

</div>
<!--w-container-->

</body>
</html>
