<!doctype html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- seo -->
<!--<meta name="description" content="">-->
<meta name="robots" content="noindex,nofollow">
<title>メディアの特徴を理解し分類してみる - web outline - Web-Textbook</title>

<!-- stylesheet  -->
<link rel="stylesheet" href="_css/_common/bootstrap.css">
<link rel="stylesheet" href="_css/_common/font-awesome.min.css">
<link rel="stylesheet" href="_css/_common/style.css">

<!-- Favicons -->
<link rel="apple-touch-icon" href="/apple-touch-icon.png" sizes="180x180">
<link rel="icon" href="/favicon-32x32.png" sizes="32x32" type="image/png">
<link rel="icon" href="/favicon-16x16.png" sizes="16x16" type="image/png">
<link rel="icon" href="/favicon.ico">

<!-- common js  -->
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="_js/_common/jquery-3.2.1.min.js"></script>
<script src="_js/_common/bootstrap.min.js"></script>
<script src="_js/_common/pagescroll.jQuery.js"></script>
</head>

<body style="height: auto;">
<div id="w-wrapper" class="w-wrapper">
<header id="w-pageHeader" class="navbar navbar-dark navbar-expand-lg fixed-top w-pageHeader" data-scroll-header="true">
<div class="container">
<a class="navbar-brand" href="/">logo</a><span class="navbar-brand">Web Textbook</span>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#w-nav" aria-controls="w-nav" aria-expanded="false" aria-label="ナビゲーション切替">
<span class="navbar-toggler-icon"></span>
</button>
<nav id="w-nav" class="collapse navbar-collapse">
<ul class="navbar-nav mr-auto pl-3">
<li class="nav-item"><a href="#" class="nav-link disabled">HTML</a></li>
<li class="nav-item"><a href="#" class="nav-link disabled">CSS</a></li>
<li class="nav-item"><a href="#" class="nav-link">javasceipt</a></li>
</ul>
</nav>
<!-- /w-nav-->
</div>
<!-- /container-->
</header>
<!-- /w-pageHeader-->
<div class="d-lg-flex flex-row-reverse pt-5">
<main id="w-main" class="w-main col-lg-10">
<div class="container mb-5">
<article id="w-article">
        <h1> メディアの特徴を理解し分類してみる - web概論</h1>
        <p><span>category:</span> <span class="badge badge-primary">web総合概論</span></p>
        <hr>
<!-- 序章 モジュール -->
<div class="card mb-4">
<div class="card-body">
<p  class="card-text">メディアの特徴を確認します。</p>
<p  class="card-text">社会の変化や新技術で既存のメディアでは抑えられない新しいメディアが誕生してきます。webを使ったコミュニケーションは新しいメディアの誕生の土壌になっています。</p>
</div>
</div>
<!-- 目次 モジュール -->
<div class="bg-light p-3 mb-4">
<h2>目次</h2>
<ul>
    <li><a href="#s1" data-scroll>メディアの特徴を理解し分類してみる</a></li>
</ul>
</div>
<!-- / 目次 モジュール -->
<!-- 本文のセクション モジュール -->
<div id="s1" class="mt-n6 pt-6 mb-6 clearfix">
<h2>メディアの特徴を理解し分類してみる</h2>
<p>ウィキペディアでしらべてみましょう。</p>
<h4 class="h5">参考</h4>
<blockquote class="blockquote">
<p><a href="https://ja.wikipedia.org/wiki/%E3%83%A1%E3%83%87%E3%82%A3%E3%82%A2_(%E5%AA%92%E4%BD%93)" target="_blank">メディア|wikipedia</a></p>
</blockquote>

<p>ウィキペディアによれば、コミュニケーションをするための道具そのものをメディアともよぶ、CD やオーディオテープなど<br> また、不特定多数に情報を伝達する手段を要する組織、たとえば放送局、新聞社、雑誌社など情報伝達する経路と仕組み全体もメディアとよぶことがある。これをおもにマスメディアとよんでいる。</p>
<dl>
<dt>マスメディア</dt>
<dd>
    <p>少数の送り手が不特定多数の受け手にむけ伝達する際に用いられる。</p>
</dd>
</dl>
<dl>
<dt>ネットワークメディア</dt>
<dd><p>多数の情報源が不特定多数の受けてに情報を伝達する仕組み</p></dd>
</dl>
<h3>各メディアの特性に応じ種別メディアの呼び方</h3>        
<dl>
<dt>パーソナルメディア</dt>
<dd><p>自分の行動を記録したり　編集　さらに配信したり　比較的仲間内で共有したりするメディア</p>
</dd>
</dl>
<dl>
<dt>双方向メディア（インタラクティブメディア）</dt>
<dd><p>電話やチャット（テキスト会話型リアルタイムコミュニケーション）など双方が話題を起案する対話型のメディア</p>
</dd>
</dl>
<h3>同期型メディア と 非同期型メディア</h3>
<p>情報の発信と受信の時間差によるメディアの種別</p>

<dl>
<dt>同期型メディア</dt>
<dd><p>同期型メディアは発信と受信がほぼ同時で起こるメディア</p>
    <p>電話 TV ラジオ 掲示板（更新を監視していたばあい）</p>
</dd>
</dl>
<dl>
<dt>非同期型メディア</dt>
<dd><p> 非同期は 発信と受信に時間差があるメディア。 webブログ 新聞 手紙など</p>
</dd>
</dl>
<h3>マルチメディア</h3>
<p>使用メディアによって伝達可能な情報が制限される。ラジオや電話では文字が送れない。（音声と視覚） 文字、音声、映像、動画、など複数の情報媒体一緒に送るのに用いることができるメディアを指して「マルチメディア」ということがある。
</p>
<h3>クロスメディア</h3>
<p>漫画　アニメーション（tv 映画）　ゲーム　音楽CDなどで複数のメディアを販売する戦略 「おもちゃ　ゲーム」会社がよくやる戦略</p>
</div>



</article>


</div>
<!-- /container-->

<adide class="" id="w-aside2">
<!-- ページナビゲーション -->
<div class="row text-white no-gutters justify-content-center">
<nav aria-label="Page navigation ">
<ul class="pagination justify-content-center">
<li class="page-item">
<a class="page-link" href="10_outline_media.html" tabindex="-1">Previous</a>
</li>
<li class="page-item">
<a class="page-link" href="12_outline_media.html">Next</a>
</li>
</ul>
</nav>
</div>
<!-- ページナビゲーション -->
<div class="container bg-dark p-3">


</div>
</adide>

</main>
<!--w-main-->
<adide class="w-aside col-lg-2" id="w-aside1">
<div class="w-aside-inner container">
<div class="w-subnav">
<h3 class="sticky-top">Basic Operation</h3>
<!-- BOlist modile -->
<ul id="w-BOlist" class="list-unstyled">
        <li class="" v-for="title in titles"><a class="" v-bind:href="title.url" v-bind:title="title.titleen">{{title.titlename}} </a></li>
</ul>
<!-- /BOlist modile -->
</div>
<div class="w-subnav">
<h3 class="sticky-top">web Outline</h3>
<!-- OLlist modile -->
<ul id="w-OLlist" class="list-unstyled">
        <li class="" v-for="title in titles"><a class="" v-bind:href="title.url" v-bind:title="title.titleen">{{title.titlename}} </a></li>
</ul>
<!-- /OLlist modile -->
</div>
</div>
<script src="_js/_common/VueBOnavlist.js"></script>
</adide>

<!-- /w-aside2-->
</div>
<footer id="w-pageFooter">
<div class="container">
<small>&copy; shounosuke tarutani</small>
</div>
<!-- /container-->
</footer>
<!--w-pageFooter-->

</div>
<!--w-container-->

</body>
</html>
