<!doctype html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- seo -->
<!--<meta name="description" content="">-->
<meta name="robots" content="noindex,nofollow">
<title>webページ制作の工程 - web outline - Web-Textbook</title>

<!-- stylesheet  -->
<link rel="stylesheet" href="_css/_common/bootstrap.css">
<link rel="stylesheet" href="_css/_common/font-awesome.min.css">
<link rel="stylesheet" href="_css/_common/style.css">

<!-- Favicons -->
<link rel="apple-touch-icon" href="/apple-touch-icon.png" sizes="180x180">
<link rel="icon" href="/favicon-32x32.png" sizes="32x32" type="image/png">
<link rel="icon" href="/favicon-16x16.png" sizes="16x16" type="image/png">
<link rel="icon" href="/favicon.ico">

<!-- common js  -->
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="_js/_common/jquery-3.2.1.min.js"></script>
<script src="_js/_common/bootstrap.min.js"></script>
<script src="_js/_common/pagescroll.jQuery.js"></script>
</head>

<body style="height: auto;">
<div id="w-wrapper" class="w-wrapper">
<header id="w-pageHeader" class="navbar navbar-dark navbar-expand-lg fixed-top w-pageHeader" data-scroll-header="true">
<div class="container">
<a class="navbar-brand" href="/">logo</a><span class="navbar-brand">Web Textbook</span>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#w-nav" aria-controls="w-nav" aria-expanded="false" aria-label="ナビゲーション切替">
<span class="navbar-toggler-icon"></span>
</button>
<nav id="w-nav" class="collapse navbar-collapse">
<ul class="navbar-nav mr-auto pl-3">
<li class="nav-item"><a href="#" class="nav-link disabled">HTML</a></li>
<li class="nav-item"><a href="#" class="nav-link disabled">CSS</a></li>
<li class="nav-item"><a href="#" class="nav-link">javasceipt</a></li>
</ul>
</nav>
<!-- /w-nav-->
</div>
<!-- /container-->
</header>
<!-- /w-pageHeader-->
<div class="d-lg-flex flex-row-reverse pt-5">
<main id="w-main" class="w-main col-lg-10">
<div class="container mb-5">
<article id="w-article">
<h1>webページ制作の工程 - web総合概論</h1>
<p><span>category:</span> <span class="badge badge-primary">web総合概論</span></p>
<hr>
<!-- 序章 モジュール -->
<div class=" mb-4 alert alert-info">
<div class="card-body">
<p class="card-text">webサイトの制作の工程とその工程でする作業内容、成果物について説明します。<br>webサイトの制作工程はウォーターフォール方式です制作します。</p>
<p>簡単な料理を作るのと同じ慣れ親しんだ工程です。</p>
<p>
<span class="badge badge-primary">献立を考える</span>
&gt;
<span class="badge badge-primary">素材を集める</span>
&gt;
<span class="badge badge-primary">素材を形成する</span>
&gt;
<span class="badge badge-primary">素材を加熱をする</span>
&gt;
<span class="badge badge-primary">料理を器に盛り付ける</span>
&gt;
<span class="badge badge-primary">テーブルに配膳</span>
&gt;
<span class="badge badge-primary">食べる。</span>
</p>
</div>
</div>

<!-- 目次 モジュール -->
<div class="bg-light p-3 mb-4">
<h2>目次</h2>
<ul>
<li><a href="#s1" data-scroll>工程の方式　ウォーターフォール方式</a></li>
<li><a href="#s2" data-scroll>webサイト制作での制作工程ステップ。</a></li>
</ul>
</div>
<!-- / 目次 モジュール -->
<!-- 本文のセクション モジュール -->
<div id="s1"  class="mt-n6 pt-6 mb-6">
<h2>工程の方式　ウォーターフォール方式</h2>
<p>滝壺に水がたまり次の滝壺へ、水が流れていくように各工程が終わるまで次には進まず、かつ前の工程には戻らないという開発手法で、各工程ごとに成果物を作り、各工程の品質を確保するという特徴があります。</p>
<div  class="card mb-4">
<div class="card-header">ウェブ制作のざっくりとしたステップ</div>
<div class="card-body">
<p class="card-text">企画　-＞　設計　-＞　制作　-＞　テスト　-＞　リリース　</p>
</div>
</div>

<h3>ウォーターフォール型開発のメリット</h3>
<div  class="card mb-4>
<div class="card-header"><h4 class="h5">コストを把握しやすい。（作業期間と費用の目安がつきやすい）</h4>
        </div>
        <div class="card-body">

<blockquote>
        <p>ウォーターフォール型開発は、全体的な計画を立てやすいのが最大のメリット。スタート時に要件を定義し、詳細に落とし込んでいくので、最初にやるべき事項を洗い出してスケジュールを立てられます。</p>
        </blockquote>
</div>
        <div class="card-header">
        <h4 class="h5">進捗管理がしやすい</h4>
        </div>
<div class="card-body">
        <blockquote>
        <p>全体を把握して、工程別にタスクを分配することができますから、プロジェクト全体の進捗管理がスムーズという点もメリットです。</p>
        </blockquote>
</div>
        <div class="card-header"><h4 class="h5">人の入れ替わりに強い</h4>
        </div>
        <div class="card-body">
        <blockquote>
        <p>各工程で完成させてから、次の工程へと進むので、参加者の入れ替わりに強いです。最初に仕様書が決められていて、それぞれの段階で何をやるかが明らかですから、人員変動がよくある場合にも、引継ぎがスムーズに行えます。</p>
        </blockquote>
        
</div>
</div>

<h3>ウォーターフォール型開発のデメリット</h3>
<p><strong class="badge badge-warning" style="font-size: 100%">第一に最初しか要件を定義できないので、進行中に変更が生じたときの負担が大きいです。基本、元に戻れないです。</strong><br>
実際、ユーザーの要望を取り入れるのは、要件定義や基本設計を行う段階でのみです。そうすると完成物を見たときに、新たな発見から変更注文が発生するかもしれません。<br>
ステップの間の後戻りが発生すると変更範囲は測りしれないので追加機能や修正ができないことがほとんどです。期間や追加の費用が発生し納期が遅れることになります。<strong>クライアントにもそのことを説明し理解してもらっておきましょう。</strong>もちろん巻き戻しになる時間や費用をかけてもすべきと判断した場合は予定を変更して巻き戻します。</p>
<h4 class="h5">参考</h4>
<blockquote>
<p><a href="https://boxil.jp/mag/a1738/">ウォーターフォール型開発・モデルとは？定義やメリット・デメリット - アジャイル開発との関係</a></p>
<p><a href="https://tracpath.com/works/development/waterfall-model/">ウォーターフォール型開発はなぜ時代の潮流に合わないのか？</a></p>
</blockquote>
<div id="s2"  class="mt-n6 pt-6 mb-6">
<h2>webサイト制作での制作工程ステップ。</h2>
<p>あくまで私が経験したステップです。　おのおのの会社のやりかたがあります。</p>

<h3>構想　企画　提案</h3>
<h4>クライアントの依頼とヒヤリング</h4>
<p>クライアントからヒヤリングをおこないます。
webページ制作にあたりクライアントが抱える<strong>課題や問題</strong>をあらいだしwebサイトやwebアプリケーションで解決できるかを考察し。後日提案するために必要な打ち合わせです。</p>
<h3>要件の定義をします。</h3>
<p>課題をクリアするためのプロジェクトの目標を決めます。問題を解決する手法を提案します。</p>
<p>この段階では制作物の範囲や目標を明らかにします。</p>

<div class="card mb-4">
<h3 class="card-header">依頼の例</h3>
<div class="card-body">
<p>例）リアルタイムに告知事項をサイトに載せたい。<br>
同じ作業を何度もしなくていいようにしたい。
課題 : webサイトにツイッターのフィードをのせリアルタイムな情報ツイッターの更新だけで済ませるようにサイトを改造する。</p>
<p>例）30代男性をターゲットにした洋服のブランドをたちあげるのでそのターゲットとブランドの魅力を伝えるサイトを作って欲しい。</p>
<p>課題 : ブランドの企画案や過去の告知物や実際にお店や商品をみせていただきそのイメージにそったページ構成をデザイン提案する。</p>
<p>成果物：提案書、工程書</p>
</div>
</div>
<div>
<h3>設計</h3>
<p>課題解決のため施策をどのようにもりこめばいいかを書面にし共有できるようにします。　デザインを起こす前にページ数やコンテンツの配置や順番などきめます。</p>
<p>成果物
    はページのボリュームや遷移表：コンテンツマップ<br>
ページ自体のコンテンツレイアウトの簡素な設計図：ワイヤーフレーム</p>

<ul>
<li><a href="https://promonista.com/content-map/" target="_blank">コンテンツマップの作成方法と使えるツールまとめ【コンテンツマーケティング基礎編】</a></li>
<li><a href="https://blog.codecamp.jp/content-map" target="_blank">Webサイトの整理術、「コンテンツマップ」の重要性と作り方</a></li>
<li><a href="https://nandemo-nobiru.com/web-5695" target="_blank">ワイヤーフレームとは何か？webサイト制作に重要なページ設計図を理解しよう！</a></li>
</ul>
</div>
<br>
<div>
<h3>制作</h3>
<h4>素材の収集　デザインカンプの作成</h4>
<p>コンテンツにあった写真の撮影、動画の作成、素材の収集、文章の収集作成
グラフィックソフトをつかってデザインカンプをつくります。</p>
<h4>デザインカンプとは</h4>
<p>ワイヤーフレームから実際に使われるサイトの見た目をつくるのがデザインカンプです。完成図の情報共有ができます。</p>
<p>デザインカンプはHTMLとCSSで作る前にphotoshopなどのデザインソフトでページの外観をすべて作成します。</p>
<p>デザインカンプを作ることでwebサイト完成図をクライアントに確認してもらえる。マークアップエンジニアに完成図を見せることでより正確な製品をコーディングしてもらえる。</p>
<h4>マークアップ作業</h4>
<p>HTMLファイルをつくり実際にアクセスされるwebページを制作します。
HTMLやCSSでファイルの中身を書いていく制作作業を「マークアップする」と呼びます。デザインカンプに違わぬwebページを作成するのが目標です。</p>
<h4>スクリプティング</h4>
<p>仕様にあったスクリプトをwebサイトに実装し稼働するか検証する。ボタンのアニメーションなどスクリプトで実装される機能をここで完成させる。</p>
<p>静的なサイトの場合はここで製品のチェックをしてサーバーへの公開へ</p>
<h4>バックエンドでの開発</h4>
<p>サーバーへの実装とCMSを使うサイトの場合はシステムへの移行と適応作業</p>
<hr>
<h3>テスト検証</h3>
<p>仮サーバーや仮想環境（会社にあれば）にアップロードし正常に動くか検証する。スマートフォンやデフォルトのブラウザでの表示や機能の不具合がないかどうかテストする。</p>
<p>バックエンド作業がある場合要素の表示非表示が正しいかなど静的な検証ができない部分をおもにチェックします。</p>
<div>
<h3>実際のサーバーにアップロードして公開してからの検証する。</h3>
<p>普通 公開サーバーにアップロードした段階で世界中からのアクセスができます。アクセスの確認やサイト解析ができるかどうかなどをテストします。この段階で文言や見た目の修正はすべて完了しています。</p>
<p>大規模なプロジェクトや特殊なCMSはメンテナンスモードで管理者でしかサイトを閲覧できないモードがあります。このモードで実際の環境での不具合はないか確認します。</p>
<p>操作マニュアルのお渡しや操作説明などを公開に前後にする。</p>

<h5>googleでの検索に引っかかるか？</h5>
<p>googlewebマスターの説明ページに記載されていますがシステム上検索結果が反映するには数日の時間がかります。webマスターに登録していない場合2週間もすれば目録登録が完了しています。</p>
</div>
<hr>
<div>
<h3>納品</h3>
<p>公開し問題なく運営ができれば,納品完了となり瑕疵の有無がなければ一旦作業は終了となります。文言の調整などの小さな修正依頼はある。</p>
<h3>運営とアクセス調査をする。</h3>
<p>実際にユーザーが訪れているのかなど分析しメンテの改善箇所のチェックをする。</p>
</div>
<hr>
<div class="card text-white bg-info mb-3">
<h3 class="card-header h5 text-white">まとめ</h3>
<div class="card-body">
<ul>
<li>重要なのは要件の定義をやり尽くすことです。
ここに一番時間をかけて議論をつくし要件の定義をします。</li>
<li>各ステップで成果物を出し共有する。重要なポイントはクライアントとも共有する。</li>
<li>各成果物の役割を理解して作成できるようになる。</li>
</ul>
</div>
</div>
</div>

</div>
</article>
</div>
<!-- /container-->

<adide class="print-none" id="w-aside2">
<!-- ページナビゲーション -->
<div class="row text-white no-gutters justify-content-center">
<nav aria-label="Page navigation">
<ul class="pagination justify-content-center">
<li class="page-item">
<a class="page-link" href="16_outline_media.html" tabindex="-1">Previous</a>
</li>
<li class="page-item">
<a class="page-link" href="18_outline_media.html">Next</a>
</li>
</ul>
</nav>
</div>
<!-- ページナビゲーション -->
<div class="container bg-dark p-3">


</div>
</adide>

</main>
<!--w-main-->
<adide class="w-aside col-lg-2 print-none" id="w-aside1">
<div class="w-aside-inner container">
<div class="w-subnav">
<h3 class="sticky-top">Basic Operation</h3>
<!-- BOlist modile -->
<ul id="w-BOlist" class="list-unstyled">
<li class="" v-for="title in titles"><a class="" v-bind:href="title.url" v-bind:title="title.titleen">{{title.titlename}} </a></li>
</ul>
<!-- /BOlist modile -->
</div>
<div class="w-subnav">
<h3 class="sticky-top">web Outline</h3>
<!-- OLlist modile -->
<ul id="w-OLlist" class="list-unstyled">
<li class="" v-for="title in titles"><a class="" v-bind:href="title.url" v-bind:title="title.titleen">{{title.titlename}} </a></li>
</ul>
<!-- /OLlist modile -->
</div>
</div>
<script src="_js/_common/VueBOnavlist.js"></script>
</adide>

<!-- /w-aside2-->
</div>
<footer id="w-pageFooter">
<div class="container">
<small>&copy; shounosuke tarutani</small>
</div>
<!-- /container-->
</footer>
<!--w-pageFooter-->

</div>
<!--w-container-->

</body>
</html>