<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- seo -->
<!--<meta name="description" content="">-->
<meta name="robots" content="noindex,nofollow">
<title>CSSの基礎知識  - Web-Textbook</title>

<!-- stylesheet  -->
<link rel="stylesheet" href="_css/_common/bootstrap.css">
<link rel="stylesheet" href="_css/_common/font-awesome.min.css">
<link rel="stylesheet" href="_css/_common/style.css">

<!-- Favicons -->
<link rel="apple-touch-icon" href="/apple-touch-icon.png" sizes="180x180">
<link rel="icon" href="/favicon-32x32.png" sizes="32x32" type="image/png">
<link rel="icon" href="/favicon-16x16.png" sizes="16x16" type="image/png">
<link rel="icon" href="/favicon.ico">

<!-- common js  -->
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="_js/_common/jquery-3.2.1.min.js"></script>
<script src="_js/_common/bootstrap.min.js"></script>
<script src="_js/_common/pagescroll.jQuery.js"></script>
</head>

<body style="height: auto;">
<div id="w-wrapper" class="w-wrapper">
<header id="w-pageHeader" class="navbar navbar-dark navbar-expand-lg fixed-top w-pageHeader" data-scroll-header="true">
<div class="container">
<a class="navbar-brand" href="/">logo</a><span class="navbar-brand">Web Textbook</span>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#w-nav" aria-controls="w-nav" aria-expanded="false" aria-label="ナビゲーション切替">
<span class="navbar-toggler-icon"></span>
</button>
<nav id="w-nav" class="collapse navbar-collapse">
<ul class="navbar-nav mr-auto pl-3">
<li class="nav-item"><a href="20_browser_cord.html" class="nav-link disabled">CSS</a></li>
<li class="nav-item"><a href="#" class="nav-link disabled">CSS</a></li>
<li class="nav-item"><a href="#" class="nav-link">javasceipt</a></li>
</ul>
</nav>
<!-- /w-nav-->
</div>
<!-- /container-->
</header>
<!-- /w-pageHeader-->
<div class="d-lg-flex flex-row-reverse pt-5">
<main id="w-main" class="w-main col-lg-10">
<div class="container mb-5">
<article id="w-article">
        <h1>CSSの基礎知識 - CSS</h1>
        <p><span>category:</span> <span class="badge badge-primary">css</span></p>
        <hr>
<!-- 序章 モジュール -->
<div class="card mb-4">
<div class="card-body clearfix">
  <p class="card-text">ブラウザで表示される文章の見た目を制御するのがスタイルシートです。</p>
  <ul>
  <li>CSSはHTMLのスタイルを設定するために開発されました。</li>
  <li>
  W3Cが仕様の設計勧告をしています。
  </li>
  <li>各社ブラウザはユーザーのためにW3Cの勧告にそってプログラミングされています。
  但し、バージョンの違いなどでそのすべが正しく、同じに動くわけではない。ブラウザ独自で開発された機能もある。</li>
  <li>CSSにはバージョンがあります。HTMLと違いW3Cで規定された機能はバージョンが上がっても使えます。</li>
  <li>
  <p>CSSのバージョンが上がることは機能が追加されることで表現が増えます。廃止されたり、意味が変わったりということは後方互換の為めったにない。</p>
  </li>
  <li>
  <p>見た目やレイアウトの設定だけでなく。印刷　点字　音声（読み上げ）などもCSSも実装されています。</p>
  </li>
  </ul>
  <p>現在最初に覚えるのは　CSS2.1と一部CSS3を学習すればサイトの制作に困らない。</p>
</div>
</div>

<!-- 目次 モジュール -->
<div class="bg-light p-3 mb-4">
<h2>目次</h2>
<ul>
    <li><a href="#s1" data-scroll>スタイルシートがブラウザをどのように彩るの？</a></li>
    <li><a href="#s2" data-scroll>ファイルの作り方</a></li>
    <li><a href="#s3" data-scroll>cssのコメントアウト</a></li>
    <li><a href="#s4" data-scroll>CSSファイルを外部化する理由</a></li>
    <li><a href="#s5" data-scroll>ファイルに直接CSSを書く方法は2つあります。</a></li>
</ul>
</div>
<!-- / 目次 モジュール -->
<!-- 本文のセクション モジュール -->
<div id="s1" class="mt-n6 pt-6 mb-6 clearfix">
  <h2>スタイルシートがブラウザをどのように彩るの？</h2>
<p>HTMLのソースコードを読み取ると。スタイルシートのリクエストがないか確認し。<br>HTMLの要素に沿ってDOMを生成します。</p>
<p>DOMプロパティのスタイルプロパティに設定するスタイルシートの宣言があればそのスタイルシートにあてはめます。
スタイルシートの指定がなかったときブラウザ独自のスタイルシートを適応します。</p>

      <dl>
          <dt>DOM</dt>
          <dd>
            <blockquote>
              <p>Document Object Model (DOM) は、— ウェブページを表す HTML のように — 文書の構造をメモリ内に表現することで、ウェブページとスクリプトやプログラミング言語を接続するものです。</p>（中略）

              DOM のモデルは文書を論理的なツリーで表現します。ツリーのそれぞれの枝はノードで終わっており、それぞれのノードがオブジェクトを含んでいます。 DOM のメソッドでプログラム的にツリーにアクセスでき、文書構造やスタイルやコンテンツを変更することができます。ノードにはイベントハンドラーを割り当てることができます。イベントが発生すると、イベントハンドラーが実行されます。
              <footer ><cite><a href="https://developer.mozilla.org/ja/docs/Web/API/Document_Object_Model" target="_blank" rel="noopener">ドキュメントオブジェクトモデル (DOM)</a>
              </cite>
              </footer>    </blockquote>
            </dd>
          </dl>
    <h3 id="mdn">MDN</h3>
    <p><a href="https://developer.mozilla.org/ja/docs/Web/CSS" target="_blank">CSS: カスケーディングスタイルシート</a></p>
  </div>
  <div id="s2" class="mt-n6 pt-6 mb-6 clearfix">
    <h2>cssのコメント</h2>
    <pre class="line-numbers language-css" data-src="prism.js"><code>/*
ここはコメントとして無視します。
*/
    </code></pre>
<p>cssのコメントはネスト出来ません。</p>
<p><code>/*  */</code>のコメントアウトの一種類のみです。</p>
</div>
<div id="s3" class="mt-n6 pt-6 mb-6 clearfix">
<h2>CSSの構文</h2>
<p><a href="https://developer.mozilla.org/ja/docs/Learn/CSS/Introduction_to_CSS/Syntax" target="_blank" rel="noopener">CSSの構文</a></p>
<h3>ルールセット</h3>
<p>ルールセットがCSSの書式の単位となっています。
    ルールセットは一つのセレクターと1の宣言ブロックで成り立っています。
    宣言ブロックは一組の{}「波かっこ」と1つ以上の宣言文とで構成されています。</p>
    <p>宣言文は　プロパティと値「:」「;」で構成されています。
    プロパティと値とのセパレーターに「：」コロンが必要です。
    宣言文の終了に「；」セミコロンが必要です。</p>

<pre class="line-numbers language-css" data-src="prism.js"><code>
/*コンプレス書き*　データが少なくて済む/

セレクタ｛プロパティ：バリュー;｝

/*エクステンデッド書き 読みやすい*/
セレクタ｛
  プロパティ：バリュー;
  プロパティ：バリュー;
｝
</code></pre>

<h3>3つの部位</h3>
<p>ルールセットと呼ばれる書式を正しく記述しないと
ブラウザは無効なCSSとみなしその後の記述をすべて無視します。</p>
<h4>セレクタ</h4>
<p>HTMLの要素を指定する。<br>
どの要素にデザインを指定するかを命令する。</p>
<h4>プロパティ</h4>
<p>選んだ要素のなにを<br>
要素には表示する文字色や高さや幅などのプロパティと呼ばれる個性を設定する属性が設定されています。</p>
<h4>バリュー(値)</h4>
<p>バリューは日本語では値として教わります。値はプロパティに設定する値です。
例えば文字色（color）に値(red)を設定することにより文字の色が赤くかわります。</p>
<p>HTMLの要素を選びそのプロパティの値を変更する。<br>
  p要素（セレクタ）の文字色（プロパティ）を灰色（gray）にする。
</p>

<h4>無効なCSS例</h4>
<ol>
<li>無効なセレクター</li>
<li>無効なプロパティーの記述</li>
<li>セミコロンの位置</li>
<li>ブロックの閉じ忘れ。</li>
<li>未定義の数詞
　e.t.c</li>
</ol>


<div class="card mb-3">
<h4 class="card-header"> コード</h4>
<div class="card-body">
<pre class="line-numbers language-css" data-src="prism.js"><code>
p{
  color:gray;
}
</code></pre>
</div>
</div>
</div>
<div id="s4" class="mt-n6 pt-6 mb-6 clearfix">
</div>
</article>
</div>
<!-- /container-->
<aside class="print-none" id="w-aside2">
<div class="row text-white no-gutters justify-content-center">
<nav aria-label="Page navigation ">
<ul class="pagination justify-content-center">
<li class="page-item disabled">
<a class="page-link disabled" href="#" tabindex="-1" aria-disabled="true">Previous</a>
</li>
<li class="page-item disabled">
<a class="page-link disabled" aria-disabled="true"  href="41_css_code.html">Next</a>
</li>
</ul>
</nav>
</div>
<div class="container bg-dark p-3">
</div>
</aside>

</main>
<!--w-main-->
<aside class="w-aside col-lg-2 print-none" id="w-aside1">
<div class="w-aside-inner container">
<div class="accordion" id="accordionAside">
<div class="w-subnav">
<div id="headingOne">
<h3 class="sticky-top">
  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" >basic Operation</button>
</h3>
</div>
<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionAside">
<!-- BOlist modile -->
<ul id="w-BOlist" class="list-unstyled">
        <li class="" v-for="title in titles"><a class="" v-bind:href="title.url" v-bind:title="title.titleen">{{title.titlename}} </a></li>
        </ul>
        <!-- /BOlist modile -->
</div>
</div>
<div class="w-subnav">
<div id="heading2">
<h3 class="sticky-top">
  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">web Outline</button>
</h3>
</div>
<div id="collapseTwo" class="collapse" aria-labelledby="heading2" data-parent="#accordionAside">
<!-- OLlist modile -->
<ul id="w-OLlist" class="list-unstyled">
        <li class="" v-for="title in titles"><a class="" v-bind:href="title.url" v-bind:title="title.titleen">{{title.titlename}} </a></li>
</ul>
<!-- /OLlist modile -->
</div>
</div>
<div class="w-subnav">
<div id="heading3">
<h3 class="sticky-top">
  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">HTML</button>
      </h3>
</div>
<div id="collapseThree" class="collapse" aria-labelledby="heading3" data-parent="#accordionAside">
    <!-- OLlist modile -->
    <ul id="w-MKlist" class="list-unstyled">
            <li class="" v-for="title in titles"><a class="" v-bind:href="title.url" v-bind:title="title.titleen">{{title.titlename}} </a></li>
    </ul>
    <!-- /OLlist modile -->
    </div>
    </div>

<div class="w-subnav">
<div id="heading4">
<h3 class="sticky-top">
<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse4" aria-expanded="true" aria-controls="collapse4">Text Editor
</button>
</h3>
</div>
<div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#accordionAside">
<!-- EDlist modile -->
<ul id="w-EDlist" class="list-unstyled">
<li class="" v-for="title in titles"><a class="" v-bind:href="title.url" v-bind:title="title.titleen">{{title.titlename}} </a></li>
</ul>
<!-- /EDlist modile -->
</div>
</div>
<div class="w-subnav">
<div id="heading5">
<h3 class="sticky-top">
<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse5" aria-expanded="true" aria-controls="collapse4">CSS
</button>
</h3>
</div>
<div id="collapse5" class="collapse" aria-labelledby="heading4" data-parent="#accordionAside">
<!-- EDlist modile -->
<ul id="w-CSSlist" class="list-unstyled">
  <li class="" v-for="title in titles"><a class="" v-bind:href="title.url" v-bind:title="title.titleen">{{title.titlename}} </a></li>
</ul>
<!-- /csslist modile -->
</div>
</div>
  </div><!-- /accordionAside -->
</div>
<script src="_js/_common/VueBOnavlist.js"></script>
</aside>

<!-- /w-aside2-->
</div>
<footer id="w-pageFooter">
<div class="container">
<small>&copy; shounosuke tarutani</small>
</div>
<!-- /container-->
</footer>
<!--w-pageFooter-->
<script src="_js/_common/prism.js"></script>
</div>
<!--w-container-->
</body>
</html>