@charset "utf-8";
/*------------------------------------------------------------
bootstrapを先に読み込む
のちに要らないscssを削除する。
--------------------------------------------------------------*/

//レイアウト
.w-wrapper{
position:relative;
}


.w-main,.w-aside{
padding-top:56px;
}
.w-subnav{
	font-size: .8rem;
	ul li {
		margin-bottom: .6rem;
					border-left: 3px solid  #025f98;
			
		&>a {
	 display: block;
	 padding-left: 1em;
		}
	}
}

/* 幅 lg 992px 以上 */
@media (min-width: 992px) {
.w-aside-inner{
    position: fixed;
    left: 0 ;
    //top: 56px;
    z-index: 1020;
    max-width: 16.66667%;

    height:100vh;
    overflow-y: auto;
}

}// 

//header style
.w-pageHeader{
 background-color: #012840;
 background-image: linear-gradient(120deg, #012840, #025f98);
	background-size: contain;
}

//w-article
[id="w-article"] h2{
	color:#012840;
	border-bottom:3px solid #0383d2;
}

//ただ単にクリアしたいときの
.clearBoth{clear:both;}

blockquote{
	border-left: .3rem solid #e9ebec;
	padding-left:1.6rem;
}


 @media print {
		.print-none{
		display: none;
		}
.card {
      page-break-inside: avoid;
  }
}/* end @media print*/


