@charset "utf-8";
/*------------------------------------------------------------
bootstrapを先に読み込む
のちに要らないscssを削除する。
--------------------------------------------------------------*/
@import "_prism";


// counter
.count-reset{
	counter-reset: cont;
}
.count-reset .conut-item::before {
  counter-increment: cont;                 /* cont カウンターの値に1を加算 */
  content: counters(cont,"") ". ";                  /* cont カウンターの値を表示 */
}


//レイアウト
.w-wrapper{
position:relative;
}


.w-main,.w-aside{
padding-top:56px;
 background-color:#fbfbfb;
}
.w-subnav{
	font-size: .8rem;
	ul li {
		margin-bottom: .6rem;
					border-left: 3px solid  #025f98;
		&>a {
	 display: block;
	 padding-left: 1em;
		}
	}
}

.w-aside{
	h3{
		.btn.btn-link{
			font-size:1.2rem;
			font-weight: 600;
			color:#012840;
			text-align:left;
			line-height: 1.2;
			text-decoration: none;
			transition: color .3s ease-in
		}
		&:hover{
			color:#025f98;
		}
	}
	.sticky-top{
		.btn{
			padding-left:0;
		}
		button.btn-link::before{
			content:"- ";
		}
		button.btn-link.collapsed::before{
			content:"+ ";
		}
	}
}

/* aside2-----------*/
.index-list{
	padding:.6rem 0;
}
.indexlist-link{
color:var(--gray);
transition: color .3s linear;
font-size:14px;

}
.indexlist-link:hover{
text-decoration:none;
color:var(--primary);
}



//header style
.w-pageHeader{
 background-color: #012840;
 background-image: linear-gradient(120deg, #012840, #025f98);
 background-size: contain;
}

//w-article
[id="w-article"]{
	h2{
	color:#012840;
	border-bottom:3px solid #0383d2;
}
	h3{
	color:#011522;

}
}

// footer
[id="w-pageFooter"]{
 background:url(../../_images/footerbg.png) repeat-x center bottom ;
 height:270px;
 display: flex;
 .site-copy{
	padding:1em 0;
	width: 100%;
	align-self: flex-end;
  text-align: center;
	color:var(--light);
 }
}




// 記事内
[id="w-article"]{
 img{
  max-width:100%;
  height:auto;
 }
}

/*test*/

h2 {
	font-size:30px;
}
//ただ単にクリアしたいときの
.clearBoth{clear:both;}

blockquote{
	border-left: .3rem solid #e9ebec;
	padding-left:1.6rem;
}

.font-size-1{
	font-size:1rem;
}

/* 幅 lg 992px 以上 */
@media (min-width: 992px) {
.w-aside-inner{
    position: fixed;
    left: 0 ;
    //top: 56px;
    z-index: 1020;
    max-width: 16.66667%;
    height:100vh;
    overflow-y: auto;
}
	[id="w-article"]{
		h2{
					font-size: 2.4rem;
			}
	}
.indexlist-inner{
	  position: fixed;
    right: 0 ;
    z-index: 1020;
    max-width: 16.66667%;
    height:100vh;
    overflow-y: auto;
}
}//

@media (max-width: 991.98px) {
	[id="w-aside3"]{
    display:none;
}

}



 @media print {
		html{
			font-size:12pt;
		}
		.print-none{
		display: none;
		}
.print-no-b,
		.card {
      page-break-inside: avoid;
  }
}/* end @media print*/



/*
top page
------------------------------------------*/
.OB-pages{
	background-color:#d2b0e3;
	background: linear-gradient(135deg, #a800c8 0%,#a1006a 100%);
.page-link{
	border-color:#a1006a;
}
}

.OL-pages{
	background-color:#6a6a6a;
	background: linear-gradient(135deg, #6a6a6a 0%,#646464 100%);
.page-link{
	border-color:#6a6a6a;
}
}

.MK-pages{
	background-color:#35eb22;
	background: linear-gradient(135deg, #337639 0%,#198a00 100%);
.page-link{
	border-color:#198a00;
}
}

.ED-pages{
	background-color:#008dc3;
	background: linear-gradient(135deg, #29a8c8 0%,#008dc3 100%);
.page-link{
	border-color:#008dc3;
}
}

.ST-pages{
	background-color:#9bba5e;
	background: linear-gradient(135deg, #9bba5e 0%,#d8e300 100%);
.page-link{
	border-color:#9bba5e;
}

}

.JS-pages{
	background-color:#e2cf71;
	background: linear-gradient(135deg, #e2cf71 0%,#f6d105 100%);
.page-link{
	border-color:#f6d105;
}
}

.toppage{
	.card .page-item.card{
		border-radius: 0px;
		border-style: none;
		background-color:#f8f9fa;
		p{
			font-size:14px;
	}
}
.heading{
	.card-header{
		margin-bottom:.6rem;
		color:#f8f9fa;
}
}
}

[id^=s]{
	padding-top:60px;
	margin-top:-60px
}

.page-item {
.card-header{
	background-color:transparent;
	border-bottom: 0px solid transparent;
	font-size:1.2rem;
}
.page-link {
background-color:rgba(0,0,0,0);
transition: background-color .3s linear;
}
.page-link:hover{
background-color:rgba(0,0,0,.03);
}
}

.pagesBox{
ul {
	margin-bottom:0;
}
}