<!DOCTYPE html>
<html lang="ja">
<head>

<!-- seo -->
<!--<meta name="description" content="">-->
<meta name="robots" content="noindex,nofollow">
{{>common_meta}}
<title>{{title}}</title>

<!-- stylesheet  -->
<link rel="stylesheet" href="_css/_common/bootstrap.css">
<link rel="stylesheet" href="_css/_common/font-awesome.min.css">
<link rel="stylesheet" href="_css/_common/style.css">

<!-- Favicons -->
<link rel="apple-touch-icon" href="/apple-touch-icon.png" sizes="180x180">
<link rel="icon" href="/favicon-32x32.png" sizes="32x32" type="image/png">
<link rel="icon" href="/favicon-16x16.png" sizes="16x16" type="image/png">
<link rel="icon" href="/favicon.ico">

<!-- common js  -->
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="_js/_common/jquery-3.2.1.min.js"></script>
<script src="_js/_common/bootstrap.min.js"></script>
<script src="_js/_common/pagescroll.jQuery.js"></script>
</head>
<body style="height: auto;">
<div id="w-wrapper" class="w-wrapper">
{% body %}
</div>
<!--w-wrapper-->
</body>
</html>