<div class="container">
<a class="navbar-brand" href="index.html">logo</a><span class="navbar-brand">Web Textbook</span>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#w-nav" aria-controls="w-nav" aria-expanded="false" aria-label="ナビゲーション切替">
<span class="navbar-toggler-icon"></span>
</button>
<nav id="w-nav" class="collapse navbar-collapse">
<ul class="navbar-nav mr-auto pl-3">
<li class="nav-item"><a href="mk.html" class="nav-link">HTML</a></li>
<li class="nav-item"><a href="style.html" class="nav-link">CSS</a></li>
<li class="nav-item"><a href="js.html" class="nav-link">javasceipt</a></li>
</ul>
</nav>
<!-- /w-nav-->
</div>
<!-- /container-->