<footer id="w-pageFooter">
<div class="container d-flex">
  <p class="site-copy">
<small>&copy; shounosuke tarutani</small>
</p><!-- /site-copy -->
</div>
<!-- /container-->
</footer>
<!--w-pageFooter-->